@tailwind base;
@tailwind components;
@tailwind utilities;
.gradient-bg {
  background: linear-gradient(270deg, #87cefa, #2a0896, #87cefa, #2a0896);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  transform: rotate(7.43deg);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
